body {
  background-color:#d6d5c9;
  height:fit-content;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  
}

.sidebar {
  top: 0%;
  left: 90%;
  height:70vh;
  width:95px;
  background-color:#99582a;


  
}

.sidebar a {
   padding:20px 16px;
  display: block;
  margin: 50px 15%;
}

.sidebar a:hover {
  color: red;
}

.header-img {
  height: 70px;
  width: 70px;
  object-fit: contain;
  text-align: center;

}

.site-header {
  display: grid;
  align-items: center;
  grid-template-columns: 60px 1fr 60px;
  background-color:#5e503f;
  margin-left: 200px;
  margin-right: 200px;
}
.site-header h1 {
  text-align: center;
  display: block;
   color:#99582a;
   
   
}

.header-img-left {
  justify-self: start;
}

.header-img-right {
  justify-self:end;
}

.footer {
  text-align: center;
  padding: 2rem 1rem;
  background:#092014;
  color: brown;
  margin: 10px;
}
.footer-socials {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  margin-bottom: 1rem;
}
.footer-socials a:hover{
      color:bisque;
}

.footer-socials a{
    color:brown;
    font-size:1.5rem;
}

.hero{
  text-align: center;
  padding:4rem 1.5rem;
}

.hero h2{
  font-size:2rem;
  margin-bottom:0.5rem;
}
.hero p{
  color:#092014;
  font-size: 1.1rem;
}
.layout{
  display:flex;
  gap:300px;
}

.ticket-card{
  max-width:320px;
  margin:2rem auto;
  padding:1.5rem;
  border-radius:1px solid #472d30;
  border-radius:10px;
  background:#fff;
}
.ticket-card p{
  margin:0.4 rem 0;
  dispaly:flex;

}

#qrcode-box{
  dispaly:flex;
  justify-content:center;
  margin-top:1.5rem;
}

.table{
  display:flex;
  gap:300px;
  text-align: center;
}

.search-bar{
  max-width:400px;
  margin:0 auto 1.5rem;
  padding:0 1.5rem;
}

.search-bar input{
  width:100%;
  padding:0.7rem 1rem;
  border:1px solid #d1d5db;
  border-radius:8px;
  font-size:1rem;
}